1 ICON "app.ico"
1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "CompanyName", "quick-launcher"
      VALUE "FileDescription", "便携快速启动器"
      VALUE "FileVersion", "1.1.0.0"
      VALUE "InternalName", "QuickLauncher"
      VALUE "LegalCopyright", "MIT License"
      VALUE "OriginalFilename", "便携快速启动器.exe"
      VALUE "ProductName", "便携快速启动器"
      VALUE "ProductVersion", "1.1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
